<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDofp5yfg6rHAOQK2BqxluQ-ldAgZV7JI</string>
	<key>GCM_SENDER_ID</key>
	<string>1002602613878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amariano.SwiftUIAuth</string>
	<key>PROJECT_ID</key>
	<string>swiftuiauth-514e1</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiauth-514e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002602613878:ios:48fb2f0ac9254eeec8e357</string>
</dict>
</plist>